# runtime
db/
log/
tmp/
dist/
bin/stellar-core/
bin/stellar-rpc/
bin/friendbot/
bin/caddy/
install/

*.log
*.db
*.sqlite
*.pid

# mac
.DS_Store

# editor
.vscode/
.idea/

# node/rust
target/
node_modules/
